<div class="m-5">
    <div class="ui teal card d-flex m-auto p-4">
        <div class="ui  teal pointing below label d-flex m-auto">Login</div>
        <form action="" class="ui fluid form">
            <div class="ui required info field">
                <label for="name">Enter name</label>
                <div class="ui tiny left icon input">
                    <input type="text" name="name" id="name" placeholder="Your name">
                    <i class="ui user icon"></i>
                </div>
            </div>

            <div class="ui required info field">
                <label for="email">Enter Password</label>
                <div class="ui tiny left icon input">
                    <input type="password" name="password" id="password" placeholder="Your Password">
                    <i class="ui eye slash icon"></i>
                </div>
            </div>
            <div class="d-flex m-auto">
                <button type="button" class="ui tiny positive button m-auto d-flex">Login</button>
            </div>
            <div class="ui horizontal divider">Or</div>
            <div class="d-flex m-auto">
                <p>Don't have an account?<span><a href="/signup">Register</a></span></p>
            </div>
        </form>
    </div>
</div>

